@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
:root, html[data-theme="deafult"] {
    --main-bg: hsl(222, 26%, 31%);
    --screen-bg: hsl(224, 36%, 15%);
    --keypad-bg: hsl(223, 31%, 20%);
    --key-bg: hsl(30, 25%, 89%);
    --key-shadow: hsl(28, 16%, 65%);
    --key-col: hsl(221, 14%, 31%);
    --key-accent-bg: hsl(225, 21%, 49%);
    --key-accent-shadow: hsl(224, 28%, 35%);
    --key-accent-col: white;
    --key-eq-bg: hsl(6, 63%, 50%);
    --key-eq-shadow: hsl(6, 70%, 34%);
    --key-eq-col: white;
    --head-col: white;
  
    --key-bg-active: rgb(206, 206, 206);
    --key-shadow-active: hsl(28, 16%, 65%);
    --key-accent-bg-active: hsl(224, 22%, 38%);
    --key-accent-shadow-active: hsl(224, 28%, 35%);
    --key-eq-bg-active: hsl(6, 63%, 42%);
    --key-eq-shadow-active: hsl(6, 70%, 34%);
    --white: white;

    --font-size: 32px;
    --ffamily: 'Spartan';
  }
  
html[data-theme="light"] {
    --main-bg: hsl(0, 0%, 90%);
    --screen-bg: hsl(0, 0%, 93%);
    --keypad-bg: hsl(0, 5%, 81%);
    --key-bg: hsl(45, 7%, 89%);
    --key-shadow: hsl(35, 11%, 61%);
    --key-col: hsl(60, 10%, 19%);
    --key-accent-bg: hsl(185, 42%, 37%);
    --key-accent-shadow: hsl(185, 58%, 25%);
    --key-accent-col: white;
    --key-eq-bg: hsl(25, 98%, 40%);
    --key-eq-shadow: hsl(25, 99%, 27%);
    --key-eq-col: white;
    --head-col: hsl(60, 10%, 19%);
  
    --key-bg-active: hsl(0, 0%, 78%);
    --key-shadow-active: hsl(35, 11%, 61%);
    --key-accent-bg-active: hsl(185, 42%, 31%);
    --key-accent-shadow-active: hsl(185, 58%, 25%);
    --key-eq-bg-active: hsl(25, 100%, 31%);
    --key-eq-shadow-active: hsl(25, 99%, 27%);
  }
  
  html[data-theme="dark"] {
    --main-bg: hsl(268, 75%, 9%);
    --screen-bg: hsl(268, 71%, 12%);
    --keypad-bg: hsl(268, 71%, 12%);
    --key-bg: hsl(268, 47%, 21%);
    --key-shadow: hsl(290, 70%, 36%);
    --key-col: hsl(52, 100%, 62%);
    --key-accent-bg: hsl(281, 89%, 26%);
    --key-accent-shadow: hsl(285, 91%, 52%);
    --key-accent-col: white;
    --key-eq-bg: hsl(176, 100%, 44%);
    --key-eq-shadow: hsl(177, 92%, 70%);
    --key-eq-col: hsl(198, 20%, 13%);
    --head-col: hsl(52, 100%, 62%);
  
    --key-bg-active: hsl(268, 46%, 18%);
    --key-shadow-active: hsl(290, 70%, 36%);
    --key-accent-bg-active: hsl(281, 89%, 21%);
    --key-accent-shadow-active: hsl(285, 91%, 52%);
    --key-eq-bg-active: hsl(176, 94%, 38%);
    --key-eq-shadow-active: hsl(177, 92%, 70%);
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
  font-family: var(--ffamily);
}

main {
  margin: auto;
  width: 40%;
  padding: 2em;
}

header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

p {
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.533333px;
  margin-right: 5px;
}

.title, p, .themes, .result {
  color: var(--white);
}

.themes-title {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.themes-title p {
  text-transform: uppercase;
}

.themes {
  display: block;
}

.theme-numbers {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}

.theme-number {
  padding: 0.5em;
}

.theme-buttons {
  display: flex;
  background-color: var(--keypad-bg);
  height: 1.5rem;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.theme {
  background-color: var(--key-eq-bg);
  display: flex;
  justify-content: space-around;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: none;
  margin: 0.3em;
}

#default {
  background-color: var(--key-eq-bg);
}

#light, #dark {
  background-color: inherit;
}

.result {
  background-color: var(--screen-bg);
  border-radius: 5px;
  margin-bottom: 1em;
  text-align: right;
  padding: 0.9rem;
  font-size: 48px;
  line-height: 54px;
  letter-spacing: -0.8px;
}

.numbers {
  background-color: var(--keypad-bg);
  border-radius: 5px;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  grid-auto-flow: row;
  gap: 1rem;
  padding: 1rem;
}

.numbers button {
  border-radius: 7px;
  border: none;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.533333px;
  font-weight: 700;
}

.key, .operator {
  background-color: var(--key-bg);
  color: var(--key-col);
  box-shadow: 0 3px var(--key-shadow);
  text-align: center;
  padding: 0.4em 0.8em;
}

.key:focus, .key:hover,
.operator:focus , .operator:hover {
  box-shadow: none;
  transform: translateY(3px);
}

#delete, #reset-key {
  background-color: var(--key-accent-bg);
  color: var(--white);
  text-transform: uppercase;
  font-size: 20px;
  box-shadow: 0 3px var(--key-accent-shadow-active);
}

#reset-key {
  grid-column: 1 / span 2;
}

#equals-key {
  grid-column: 3 / span 2;
  box-shadow: 0 5px var(--key-eq-shadow);
  background-color: var(--key-eq-bg);
  color: var(--white);
  box-shadow: 0 3px var(--key-eq-shadow);
}

#reset-key:focus, #reset-key:hover {
  box-shadow: none;
  transform: translateY(3px);
}

#equals-key:focus, #equals-key:hover {
  box-shadow: none;
  transform: translateY(3px);
}

#delete:focus, #delete:hover {
  box-shadow: none;
  transform: translateY(3px);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg: hsl(0, 0%, 90%);
    --screen-bg: hsl(0, 0%, 93%);
    --keypad-bg: hsl(0, 5%, 81%);
    --key-bg: hsl(45, 7%, 89%);
    --key-shadow: hsl(35, 11%, 61%);
    --key-col: hsl(60, 10%, 19%);
    --key-accent-bg: hsl(185, 42%, 37%);
    --key-accent-shadow: hsl(185, 58%, 25%);
    --key-accent-col: white;
    --key-eq-bg: hsl(25, 98%, 40%);
    --key-eq-shadow: hsl(25, 99%, 27%);
    --key-eq-col: white;
    --head-col: hsl(60, 10%, 19%);
  
    --key-bg-active: hsl(0, 0%, 78%);
    --key-shadow-active: hsl(35, 11%, 61%);
    --key-accent-bg-active: hsl(185, 42%, 31%);
    --key-accent-shadow-active: hsl(185, 58%, 25%);
    --key-eq-bg-active: hsl(25, 100%, 31%);
    --key-eq-shadow-active: hsl(25, 99%, 27%);
  }

  #light {
    background-color: var(--key-eq-bg);
  }

  #dark, #default {
    background-color: inherit;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg: hsl(268, 75%, 9%);
    --screen-bg: hsl(268, 71%, 12%);
    --keypad-bg: hsl(268, 71%, 12%);
    --key-bg: hsl(268, 47%, 21%);
    --key-shadow: hsl(290, 70%, 36%);
    --key-col: hsl(52, 100%, 62%);
    --key-accent-bg: hsl(281, 89%, 26%);
    --key-accent-shadow: hsl(285, 91%, 52%);
    --key-accent-col: white;
    --key-eq-bg: hsl(176, 100%, 44%);
    --key-eq-shadow: hsl(177, 92%, 70%);
    --key-eq-col: hsl(198, 20%, 13%);
    --head-col: hsl(52, 100%, 62%);
  
    --key-bg-active: hsl(268, 46%, 18%);
    --key-shadow-active: hsl(290, 70%, 36%);
    --key-accent-bg-active: hsl(281, 89%, 21%);
    --key-accent-shadow-active: hsl(285, 91%, 52%);
    --key-eq-bg-active: hsl(176, 94%, 38%);
    --key-eq-shadow-active: hsl(177, 92%, 70%);
  }

  #dark {
    background-color: var(--key-eq-bg);
  }

  #deafult, #light {
    background-color: inherit;
  }
}

@media (max-width: 1075px) {
  main {
    width: 60%;
  }
}

@media (max-width: 691px) {
  main {
    width: 85%;
  }
}

@media (max-width: 460px) {
  main {
    width: 98%;
  }

  .key, .operator {
    padding: 0.2em 0.4em;
  }

  .numbers button {
    font-size: 25px;
  }

}




